* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common-styles */
.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
.btn{
  background-color: #E02C6D;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  padding: 10px 25px;
  
}
/* main-styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
nav a {
  text-decoration: none;
}
.nav-heading {
  font-weight: 700;
  padding: 15px;
  font-size: 1.5rem;
  color: #3a3a3a;
}
.right-nav-links {
  display: flex;
  align-items: center;
}
.right-nav-links > a {
  font-weight: 600;
  padding: 15px;
  color: #3a3a3a;
}
.right-nav-links-wrapper{
    display: flex;
    align-items: center;
}
.nav-icons {
  display: flex;
  gap: 20px;
  padding: 15px;
}
.nav-icons > a{
color: rgb(0, 0, 0);
}

#checkbox,
.openbox,
.closebox {
  display: none;
}
@media (max-width: 576px) {
  .right-nav-links {
    flex-direction: column;
    position: fixed;
    background-color: rgb(240, 240, 240);
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    align-items: flex-start;
    z-index: 10;
  }
  .openbox,
  .closebox {
    display: block;
  }
  .nav-icons {
    gap: 10px;
    padding: 10px;
  }
  .nav-heading {
    font-size: 1.2rem;
    padding: 5px;padding-top: 0;
  }
  #checkbox:checked ~ .right-nav-links-wrapper .right-nav-links {
    left: 0;
  }
  /* banner  */
  .banner-container{
  flex-direction: column-reverse;
  gap: 50px;
  padding: 10px;
}
.banner-left{
  text-align: center;
}
}
/* baanner */
.banner-left h1{
  font-size: 3.2rem;
  font-weight: bold;
  color: #3a3a3a;
}
.banner-left p{
  font-weight: 600;
  color: #3a3a3a;
  margin: 16px 0; 
}
.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  gap: 150px;
  margin-bottom: 100px;
}
.banner-right{
  position: relative;
  z-index: 10;
}
.banner-right svg{
  position: absolute;
  top: 0;
  right: 0;
z-index: -1;
}
/* bbrands */
.brands-section{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-top : 2px solid black;
    border-bottom : 2px solid black;
}
